### Installing a local docker container running a postgresql/postgis database

%bash docker run --name=workshop2 -d -e POSTGRES_USER=workshop -e POSTGRES_PASS=workshop -e POSTGRES_DBNAME=workshop -p 5432:5432  --restart=always mdillon/postgis

// ref: https://hub.docker.com/r/mdillon/postgis/

conda install ipython-sql sqlalchemy psycopg2 notebook pandas -c conda-forge

### Spatial Data Management with PostgreSQL and PostGis

ref: https://postgis.gishub.org/chapters/installation.html

%%bash

cd learn_postgresql_and_postgis/postgis-workshop-data/2000

ogr2ogr \
    -nln nyc_census_blocks_2000 \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_census_blocks_2000.shp

ogr2ogr \
    -nln nyc_census_blocks \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_census_blocks.shp

ogr2ogr \
    -nln nyc_neighborhoods \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_neighborhoods.shp

ogr2ogr \
    -nln nyc_homicides \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_homicides.shp

ogr2ogr \
    -nln nyc_streets \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_streets.shp

ogr2ogr \
    -nln nyc_subway_stations \
    -nlt PROMOTE_TO_MULTI \
    -lco GEOMETRY_NAME=geom \
    -lco FID=gid \
    -lco PRECISION=NO \
    Pg:'dbname=workshop host=localhost user=workshop port=5432' \
    nyc_subway_stations.shp

In [1]:
%reload_ext sql

/Users/ublai7c/anaconda3/envs/geoenv/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
import os
host = "localhost"
port = 5432
dbname = "workshop"
username = "workshop"
password = "workshop"

connection_string = f"postgresql://{username}:{password}@{host}:{port}/{dbname}"
connection_string

'postgresql://workshop:workshop@localhost:5432/workshop'

In [8]:
%sql postgresql://workshop:workshop@localhost:5432/workshop

Connecting to 'postgresql://workshop:***@localhost:5432/workshop'

In [14]:
%%sql

SELECT * from cities;

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

1 rows affected.

1249 rows affected.

+----+------------------+---------+----------+-----------+------------+
| id |       name       | country | latitude | longitude | population |
+----+------------------+---------+----------+-----------+------------+
| 1  |      Bombo       |   UGA   |  0.5833  |  32.5333  |   75000    |
| 2  |   Fort Portal    |   UGA   |  0.671   |   30.275  |   42670    |
| 3  |     Potenza      |   ITA   |  40.642  |   15.799  |   69060    |
| 4  |    Campobasso    |   ITA   |  41.563  |   14.656  |   50762    |
| 5  |      Aosta       |   ITA   |  45.737  |   7.315   |   34062    |
| 6  |    Mariehamn     |   ALD   |  60.097  |   19.949  |   10682    |
| 7  |     Ramallah     |   PSE   | 31.90294 |  35.20621 |   24599    |
| 8  |   Vatican City   |   VAT   | 41.90001 |  12.44781 |    832     |
| 9  |     Poitier      |   FRA   | 46.58329 |  0.33328  |   85960    |
| 10 | Clermont-Ferrand |   FRA   | 45.77998 |  3.08001  |   233050   |
+----+------------------+---------+----------+-----------+------------+
Truncated to displaylimit of 10.

In [13]:
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy import *

engine = create_engine(connection_string)
# inspection = inspect(engine)
# inspection.get_table_names()

%sql SELECT * from cities;