### Spatial Data Management with PostgreSQL and PostGis

ref: https://postgis.gishub.org/chapters/installation.html

In [8]:
%reload_ext sql

In [ ]:
%sql postgresql://workshop:workshop@localhost:5432/workshop

In [ ]:
%%sql
/*
 * Section 3 SQL
*/

-- SELECT postgis_full_version()
-- SELECT * FROM nyc_census_blocks_2000;
-- SELECT * FROM nyc_neighborhoods;
-- ALTER TABLE nyc_census_blocks_2000 RENAME COLUMN gid TO id;
-- ALTER TABLE nyc_census_blocks_2000 RENAME COLUMN boroname TO boroughname;
-- ALTER TABLE nyc_neighborhoods RENAME COLUMN boroname TO boroughname;

ALTER TABLE nyc_homicides RENAME COLUMN boroname TO boroughname;

In [ ]:
%%sql
/*
 * Simple SQL Exercise 8
*/

-- SELECT id, boroughname, name from nyc_neighborhoods LIMIT 10;
-- SELECT count(*) FROM nyc_streets;
-- SELECT count(*) FROM nyc_streets WHERE name LIKE 'B%';
-- SELECT Sum(popn_total) AS Population FROM nyc_census_blocks;
-- SELECT boroughname, count(*) FROM nyc_neighborhoods GROUP BY boroughname;
-- SELECT boroughname, round(100.0 * Sum(popn_white)/Sum(popn_total)) AS white_pct FROM nyc_census_blocks GROUP BY boroughname;
SELECT boroname, round(100.0 * Sum(popn_asian)/Sum(popn_total)) AS "asian pourcentage" FROM nyc_census_blocks GROUP BY boroname;

In [ ]:
%%sql

SELECT id, ST_Transform(geom, 4326) FROM nyc_homicides;

SELECT name from nyc_neighborhoods where boroughname  = 'Brooklyn';

SELECT name as "Name", char_length(name) as "Name Char length" FROM nyc_neighborhoods WHERE boroughname = 'Brooklyn';

SELECT avg(char_length(name)) as "Average Name Char length",
stddev(char_length(name)) as "Standard deviation Name Char length" FROM nyc_neighborhoods WHERE boroughname = 'Brooklyn';

SELECT boroughname, avg(char_length(name)), stddev(char_length(name)) FROM nyc_neighborhoods GROUP BY boroughname;

In [ ]:
%%sql

-- SELECT name FROM nyc_neighborhoods;
SELECT name, ST_Transform(geom, 4326) FROM nyc_neighborhoods;
SELECT Sum(popn_total) AS population FROM nyc_census_blocks_2000;
SELECT SUM(popn_total) AS population FROM nyc_census_blocks_2000 WHERE boroughname = 'The Bronx';