### Spatial Data Management with PostgreSQL and PostGis

ref: https://postgis.gishub.org/chapters/installation.html

In [8]:
%reload_ext sql

In [9]:
%sql postgresql://workshop:workshop@localhost:5432/workshop

Connecting to 'postgresql://workshop:***@localhost:5432/workshop'

In [37]:
%%sql
/*
 * Section 3 SQL
*/

-- SELECT postgis_full_version()
-- SELECT * FROM nyc_census_blocks_2000;
-- SELECT * FROM nyc_neighborhoods;
-- ALTER TABLE nyc_census_blocks_2000 RENAME COLUMN gid TO id;
-- ALTER TABLE nyc_census_blocks_2000 RENAME COLUMN boroname TO boroughname;
-- ALTER TABLE nyc_neighborhoods RENAME COLUMN boroname TO boroughname;

ALTER TABLE nyc_homicides RENAME COLUMN boroname TO boroughname;

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

++
||
++
++

In [52]:
%%sql
/*
 * Simple SQL Exercise 8
*/

/*
 * SELECT id, boroughname, name from nyc_neighborhoods LIMIT 10;
 * SELECT count(*) FROM nyc_streets;
*/

-- SELECT count(*) FROM nyc_streets WHERE name LIKE 'B%';

-- SELECT Sum(popn_total) AS Population FROM nyc_census_blocks;

-- SELECT boroughname, count(*) FROM nyc_neighborhoods GROUP BY boroughname;

-- SELECT boroughname, round(100.0 * Sum(popn_white)/Sum(popn_total)) AS white_pct
-- FROM nyc_census_blocks GROUP BY boroughname;

SELECT boroname, round(100.0 * Sum(popn_asian)/Sum(popn_total)) AS "asian pourcentage"
FROM nyc_census_blocks GROUP BY boroname;

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

5 rows affected.

+---------------+-------------------+
|    boroname   | asian pourcentage |
+---------------+-------------------+
|     Queens    |         23        |
|    Brooklyn   |         10        |
|   The Bronx   |         4         |
|   Manhattan   |         11        |
| Staten Island |         8         |
+---------------+-------------------+

In [38]:
%%sql


SELECT id, ST_Transform(geom, 4326) FROM nyc_homicides;

select name from nyc_neighborhoods where boroughname  = 'Brooklyn';

SELECT name as "Name", char_length(name) as "Name Char length"
FROM nyc_neighborhoods WHERE boroughname = 'Brooklyn';

SELECT avg(char_length(name)) as "Average Name Char length",
stddev(char_length(name)) as "Standard deviation Name Char length"
FROM nyc_neighborhoods
WHERE boroughname = 'Brooklyn';

 SELECT boroughname, avg(char_length(name)), stddev(char_length(name))
FROM nyc_neighborhoods
GROUP BY boroughname;

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

3984 rows affected.

23 rows affected.

23 rows affected.

1 rows affected.

5 rows affected.

+---------------+---------------------+--------------------+
|  boroughname  |         avg         |       stddev       |
+---------------+---------------------+--------------------+
|     Queens    | 11.6666666666666667 | 5.0057438272815975 |
|    Brooklyn   | 11.7391304347826087 | 3.9105613559407395 |
| Staten Island | 12.2916666666666667 | 5.2043390480959474 |
|   The Bronx   | 12.0416666666666667 | 3.6651017740975152 |
|   Manhattan   | 11.8214285714285714 | 4.3123729948325257 |
+---------------+---------------------+--------------------+

In [ ]:
%%sql

-- SELECT name FROM nyc_neighborhoods;

SELECT name, ST_Transform(geom, 4326) FROM nyc_neighborhoods;

In [41]:
%%sql
SELECT Sum(popn_total) AS population
FROM nyc_census_blocks_2000;

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

1 rows affected.

+------------+
| population |
+------------+
| 8008278.0  |
+------------+

In [44]:
%%sql
SELECT SUM(popn_total) AS population
FROM nyc_census_blocks_2000
WHERE boroughname = 'The Bronx'

Running query in 'postgresql://workshop:***@localhost:5432/workshop'

1 rows affected.

+------------+
| population |
+------------+
| 1332650.0  |
+------------+